# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment folder
venv/
myenv/
myvenv/


# Ignore environment variables and secret files
.env

# Ignore Django-specific files
db.sqlite3
/media
/staticfiles

# Ignore IDE/editor files
*.vscode/
*.idea/

# Ignore macOS-specific files
.DS_Store

.env
