{% load static %} 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "styles/styles.css" %} />
    <!-- semantic UI -->
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <title>{% block title %}planzO - Login{% endblock title %}</title>
    {% load widget_tweaks %} 
</head>
{% block content %}
<div class="parentDiv">
    <div class="childCard">
        <form action="" method="post">
            {% csrf_token %}
            <h4 class="cardTitle">Login</h4>
            <div class="userInputDiv" data-text="Username">
                {% render_field form.username placeholder=form.username.label class+="form-control"  %}
            </div>
            <div class="userInputDiv" data-text="Password">
                {% render_field form.password placeholder=form.password.label class+="form-control"  %}
                <span class="border"></span>
            </div>
            <button class="loginBtn" type="submit">
                Login<div class="arrow-wrapper"><div class="arrow"></div></div>
            </button>
        </form>
        <div class="loginLinkDivs">
            <a class="link" href="{% url 'signup' %}">Create Account</a>
            <a class="link"href="{% url 'password_reset' %}">Reset Password</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock scripts %}
