<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="ui secondary pointing menu" id="navbarMainDiv">
    <a class="item" href="{% url 'events:home' %}"><b>Home</b></a>
    <a class="item" href="{% url 'profiles:profile' %}" ><b>{{profile.user}}</b></a>
    <a class="item" href="{% url 'home' %}">Hello, {{ profile.user }}. <b> Log Out</b></a>
    </div>
    {% endblock content %}
</body>
</html>